@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
  &__list {
    @include mix.displayFlex(flex, start, center);
    gap: 10px
  }

  &__link {
    @include mix.displayFlex(flex, center, center);
    width: 2em;
    height: 2em;
    border-radius: 5px;
    color: var.$lightColor;
    transition: opacity .5s ease-out, transform .5s ease-out;

    @media (any-hover: hover) {
        &:hover {
          transform: translateY(-2px);
          opacity: .7;
        }
    }

    &_vk {
      background-color: #3648FF;
    }

    &_wa {
      background-color: #00FC75;
    }

    &>img {
      max-width: 100%;
    }
  }
}