@use '../base/variable' as var;
@use '../base/mixin' as mix;

.subtitle {
  margin: 0;
  @include mix.adaptivFont(var.$subTitleFontSize, var.$subTitleFontSizeMin);
  font-family: var.$subFamily;
  font-weight: var.$subTitleWeight;
  line-height: var.$subTitleHeight;
  color: var.$subTitleColor;
  text-align: center;
}