@use "sass:map";
/// общие
$mainBg: #F5F5F5; // background
$accentColor: #C52917; // акцентный цвет и цвет скроллбара
$accentColorTwo: rgb(127, 177, 61); // второй акцентный цвет и цвет скроллбара
$widthContainer: 1200; // max-width

$family: 'Circe', 'Arial', 'Helvetica', sans-serif; // font-family дефолтный шрифт
$subFamily: 'Manrope', 'Arial', 'Helvetica', sans-serif; // font-family допшрифт шрифт

$generalBigTextSize: 20; // font-size текст который надо сделать чуть больше, чем основной
$generalBigTextSizeMin: 18; // font-size текст который надо сделать чуть больше, чем основной для экрана 320px
$generalTextSize: 18; // font-size основного текста
$generalTextSizeMin: 16; // font-size основного текста для экрана 320px

$generalLineHeight: 1.5em; // line-height основного текста
$generalBigLineHeight: 1.5em; // line-height основного болшого текста
$letterSpacing: 0.02em;

$generalColorText: #010101; // color основного текста
$subColorText: #4a4a4a; // color дополнительного текста

/// скроллбар
$borderRadius: 0;

/// заголовок главный
$titleColor: #FFF; // color
$titleWeight: 700; // font-weight
$titleFontSize: 48; // font-size
$titleFontSizeMin: 28; // font-size
$titleHeight: 1.1em; // line-height
$titleTransform: none; // text-transform

/// подзаголовок
$subTitleColor: #1c1c1c; // color
$subTitleWeight: 700; // font-weight
$subTitleFontSize: 28; // font-size
$subTitleFontSizeMin: 18; // font-size screen 320px
$subTitleHeight: 1.5em; // line-height

/// бургер
$colorBurger: #fff;

/// кнопка вверх
$darkColor: #111111; // border, background for :before, :after, background for button-up__link
$lightColor: #fff; // hover background for :before, :after