@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';

.footer {
  padding: 2em 0;
  color: var.$lightColor;
  @include mix.adaptivFont(16, 10);
  background-color: var.$darkColor;

  &.footer-show {

  }

  &__wrapper {
    @include mix.displayFlex(flex, space-between, center);
  }

  &__logo-link {
    color: var.$lightColor;
  }

  &__social {
    @include mix.displayFlex(flex, start, center);
    gap: 10px
  }

  &__social-link {

    @media (min-height: 770px) {
      &:hover {
        opacity: .7;
      }
    }
  }

  &__requisites {
    &>p>a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__author {
    &>a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}