@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

$sizeAfterEl: 1.1em;
.navigation {
  position: fixed;
  z-index: 9998;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  color: var.$lightColor;
  background: var.$darkColor;
  box-shadow: 0 4px 7px -5px rgba(1, 1, 1, 0.5);
  opacity: .8;
  transition: transform .8s ease;

  &._hidden {
    transform: translateY(-90%);
  }

  &__wrapper {
    @include mix.displayFlex(flex, space-between, center);
    box-sizing: border-box;
  }

  &__logo {
    flex: 0 1 auto;
  }

  &__block {
    flex: 0 1 auto;
    @include mix.displayFlex(flex, flex-end, center);
    gap: 20px;
  }

  &__phone {
    @include mix.displayFlex(flex, flex-end, flex-end);
    flex-direction: column;
    padding: 1em 0;
    &>p {
      margin: 5px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1em;
      text-align: right;
    }
  }

  &__worktime {
    &>p {
      margin: 0;
      @include mix.adaptivFont(15, 5);
      line-height: 1em;
    }
  }
}

.nav {
  flex: 1 1 auto;
  @include mix.displayFlex(flex, center, center);
  &__list {
    @include mix.displayFlex(flex, center, center);
  }

  &__item-hidden {
    display: none;
  }

  &__link {
    position: relative;
    display: block;
    padding: 1em;
    font-weight: 400;
    font-size: #{var.$generalTextSize} + px;
    line-height: var.$generalLineHeight;
    transition: text-decoration .8s ease;

    &:before {
      @extend %pseudoElement;
      bottom: 15px;
      left: 18px;
      width: 0;
      height: 2px;
      background: var.$accentColor;
      transition: width .5s ease-in-out, color .5s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover{
        color: var.$accentColor;
        &:before {
          width: 70%;
        }
      }
    }
  }
}

.phone {
  &__link {
    position: relative;
    padding-left: 1.5em;
    font-weight: 400;
    @include mix.adaptivFont(var.$generalTextSize, var.$generalTextSizeMin);

    &:after {
      @extend %pseudoElement;
      top: calc(50% - ($sizeAfterEl / 2));
      left: 0;
      width: $sizeAfterEl;
      height: $sizeAfterEl;
      background: url('../../assets/images/icon/phone.svg') center center / contain no-repeat;
    }

    @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
    }
  }
}