<footer class="footer">
	<div class="container">
		<div class="footer__wrapper animation">
			@@include('../modules/logo.html', {
			'class-wrapper': 'footer__logo',
			'class-logo-link': 'footer__logo-link'
			})
			<div class="footer__requisites">
				<p>ОГРН ИП 322237500423291 от 29.11.2022</p>
				<p><a title="Политика конфиденциальности" target="_blank" href="../privacy/privacy.html">Политика конфиденциальности</a></p>
			</div>
			<div class="footer__copyright">
				<p>&copy shinstore.ru, 2023</p>
				<address class="footer__author"><a title="Телеграм автора автора сайта" href="https://t.me/efremandre">by efremandre</a></address>
			</div>
		</div>
	</div>
</footer>