<footer class="footer">
	<div class="container">
		<div class="footer__wrapper animation">
			@@include('../modules/logo.html', {
			'class-wrapper': 'footer__logo',
			'class-logo-link': 'footer__logo-link'
			})
			<ul class="footer__social">
				<li>
					<a href="https://instagram.com/" class="footer__social-link">
						<img src="./assets/images/icon/insta.svg" alt="INST">
					</a>
				</li>
				<li>
					<a href="https://wa.me/" class="footer__social-link">
						<img src="./assets/images/icon/wa.svg" alt="WA">
					</a>
				</li>
				<li>
					<a href="https://t.me/" class="footer__social-link">
						<img src="./assets/images/icon/tg.svg" alt="TG">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>