<header class="header">
	<div data-header class="header__navigation navigation">
				<div class="container">
					<div class="navigation__wrapper">
						@@include('../modules/logo.html', {
							'class-logo-wrapper': 'navigation__logo',
							'class-logo-link': 'navigation__logo-link'
							})
						<nav class="navigation__nav nav" data-nav>
							<ul class="nav__list">
								<li><a href="#about" class="nav__link">Каталог</a></li>
								<li><a href="#catalog" class="nav__link">Услуги</a></li>
								<li><a href="#service" class="nav__link">Отзывы</a></li>
								<li><a href="#contact" class="nav__link">Контакты</a></li>
								<li class="nav__item-hidden"><a href="tel:+79298424232" class="nav__link">+7 (929) 842-42-32</a></li>
							</ul>
						</nav>
						<div class="navigation__block">
							<div class="navigation__contactinfo">
								<div class="navigation__phone phone">
									<a href="tel:+79298424232" class="phone__link">+7 (929) 842-42-32</a>
									<p>Ежедневно с 9:00 до 19:00</p>
								</div>
								<div class="navigation__worktime">

								</div>
							</div>
							<div class="navigation__social social">
								<ul class="social__list">
									<li><a href="https://vk.com/public217987026" class="social__link social__link_vk">
										<img src="../../assets/images/icon/vk.svg" alt="VKontakte" title="VKontakte">
									</a></li>
									<li><a href="https://wa.me/79298424232" class="social__link social__link_wa">
										<img src="../../assets/images/icon/wa.svg" alt="WhatsApp" title="WhatsApp">
									</a></li>
								</ul>
							</div>
							@@include('../modules/burger.html', {})
						</div>
					</div>
				</div>
			</div>
</header>