@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 989.98px) {

}

@media screen and (max-width: 769.98px) {
  .navigation {
    opacity: 1;
    &__wrapper {
      justify-content: space-between;
    }

    &__logo {

    }

    &__logo-link {
    }

    &__block {
      @include mix.displayFlex(flex, start, center);
      gap: 0 20px;
    }

    &__phone {

    }

    &__icon {
    }

    &__link {

    }
  }

  .phone {
    &__link {
      font-size: 14px;

      &:after {

      }

      &:hover {

      }
    }
  }
}

@media screen and (max-width: 569.98px) {
  .logo {
    width: 60px;
  }

  .header {
    &__navigation {
    }
  }

  .navigation {

    &__logo {

    }

    &__logo-link {

    }

    &__nav {
    }

    &__phone {
      display: none;
    }

    &__icon {
    }

    &__link {

    }
  }

  .fullscreen {
    background-attachment: scroll;

    &__wrapper {
    }

    &__main-title {
    }

    &__subtitle {

    }

    &__buttons {
      width: 100%;
      gap: 15px;
    }

    &__button {

    }
  }

  .tyermont {
    background-attachment: scroll;

    &__row {
      @include mix.displayFlex(flex, start, center);
    }

    &__wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 430px) {

  .fullscreen {
    background-attachment: scroll;

    &__wrapper {
    }

    &__main-title {
    }

    &__subtitle {

    }

    &__buttons {
      align-items: start;
      flex-direction: column;
    }

    &__button {

    }
  }

  .whyme {
    &__wrapper {
      display: block;
      margin: 0;
    }

    &__card {
        max-width: 150px;
      margin: 0 auto;
    }

    &__wrapper-image {

    }

    &__content {

    }

    &__subtitle {

    }

    &__description {

    }
  }
}

@media screen and (max-width: 320px) {

  .container {
    padding: 0 0.5em;
  }


}

@media (any-hover: none) and (orientation: landscape) {
  .navigation {
    opacity: 1;
    &__wrapper {
      justify-content: space-between;
    }

    &__logo {

    }

    &__logo-link {
    }

    &__block {
      @include mix.displayFlex(flex, start, center);
      gap: 0 20px;
    }

    &__phone {
      padding: 0;
    }

    &__icon {
    }

    &__link {

    }
  }

  .main__fullscreen {
    padding-top: 0;
  }

  .fullscreen {
    min-height: 100vh;
    background-attachment: scroll;
    &:before {

    }

    &__wrapper {
      min-height: 100%;
    }

    &__main-title {

      & > span {

      }
    }

    &__subtitle {

    }

    &__buttons {
      flex-direction: row;
    }

    &__button {

    }

    &__button_black {

    }
  }

  .about-me {

    &__wrapper {
      justify-content: start;
      flex-direction: row;
      min-height: 100vh;
      gap: 20px;
    }

    &__subtitle {

    }

    &__text {


      &>p {
        &:last-child {

        }
      }
    }

    &__list {

      &>li {
      }
    }

    &__button {

    }

    &__image {
      flex: 0 1 50%;
      &>img {
        height: 100%;
        max-width: 100%;
      }
    }
  }

  .portfolio {
    background-attachment: scroll;
  }
}