@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 989.98px) {
  .whyme {
    padding-bottom: 0;
    &__wrapper {

    }

    &__wrapper-image {
      margin-bottom: 1em;
    }

    &__card {
      padding: .5em;
    }
  }
}

@media screen and (max-width: 769.98px) {
  .navigation {
    opacity: 1;
    &__wrapper {
      justify-content: space-between;
    }

    &__logo {

    }

    &__logo-link {
    }

    &__block {
      @include mix.displayFlex(flex, start, center);
      gap: 0 20px;
    }

    &__phone {

    }

    &__icon {
    }

    &__link {

    }
  }

  .phone {
    &__link {
      font-size: 14px;

      &:after {

      }

      &:hover {

      }
    }
  }

  .whyme {
    padding-bottom: 0;
    &__wrapper {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__wrapper-image {

    }

    &__card {

    }
  }

  .contact {

    &__wrapper {
      flex-wrap: wrap-reverse;
    }

    &__contact-block {
      flex: 0 1 100%;
    }

    &__map-block {
      flex: 0 1 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 569.98px) {
  .container {
    padding: 0 1em;
  }

  .logo {
    width: 60px;
  }

  .navigation {
    &__phone {
      display: none;
    }
  }

  .fullscreen {
    &__buttons {
      width: 100%;
      gap: 15px;
    }

    &__button {

    }
  }

  .brands {
    padding-bottom: 0;
  }

  .tirefitting {

    &__row {
      @include mix.displayFlex(flex, start, center);

    }

    &__wrapper {
      width: 100%;
    }
  }

  .whyme {
    padding-bottom: 0;
    &__wrapper {
      display: block;
      margin: 0;
    }

    &__card {
      padding: 0;
    }
  }

  .feedback {
    &__slider-container {
      width: 100%;
    }

    &__slider {
      padding-bottom: 40px;
    }

    &__wrapper-slide {
      padding: 1em;
    }

    &__next,
    &__prev {
      display: none;
    }

    &__text {
      @include mix.adaptivFont(var.$generalBigTextSize, var.$generalBigTextSizeMin);
    }

    &__link {
      display: block;
      text-align: right;
      color: var.$generalColorText;
      @include mix.adaptivFont(14, 10);
      text-decoration: underline;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .contact {
    &__map {
      height: 400px;
    }
  }
}

@media screen and (max-width: 429.98px) {

  .fullscreen {

    &__buttons {
      align-items: start;
      flex-direction: column;
    }
  }

}

@media screen and (max-width: 319.98px) {
  .container {
    padding: 0 0.5em;
  }
}

@media (any-hover: none) and (orientation: landscape) {

}